@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&family=Oswald:wght@600&display=swap');

:root {
	--primary_link: rgb(32, 124, 155);
	--secondary_color: rgb(199, 168, 112);
	--third_color: whitesmoke;
	--hover: rgb(0, 181, 239);
	--background1: #624723;
	--background2: rgb(70, 21, 1);
	--inset_border: rgb(41, 6, 6);
}

html {
	scroll-behavior: smooth;
	height: 100vh;
}

body {
	background-image: linear-gradient(30deg, var(--background1) -15%,
			var(--background2) 35%);
	color: var(--third_color);
}

#body_project {
	background: linear-gradient(180deg, transparent 90%,transparent 90%, rgb(23, 4, 118) 91%, rgb(41, 15, 90) 50%), linear-gradient(30deg, var(--background1) -15%, var(--background2) 35%);
overflow: hidden;
}

#body_trip {
	background: var(--background2);
}

* {
	margin: 0;
	padding: 0;
}

nav {
	text-transform: uppercase;
	font-size: large;
}

nav a {
	border-bottom: transparent solid 2px;
	border-top: transparent solid 2px;
	transition: .3s all;
}

nav a:link {
	text-decoration: none;
	color: gold;
}

nav a:visited {
	color: var(--secondary_color);
}

nav a:hover {
	color: var(--third_color);
	padding: 5px 0;
	border-bottom: var(--hover) solid 2px;
	border-top: var(--hover) solid 2px;
}

nav a:active {
	color: var(--hover);
}

ul {
	display: flex;
	position: fixed;
	justify-content: space-around;
	outline: 2px solid var(--inset_border);
	outline-offset: -2px;
	border-bottom: var(--background1) 4px solid;
	padding: 2rem 0;
	background: rgb(0, 0, 0);
	top: 0;
	width: 100%;
	box-shadow: 0px 5px 0px 7px var(--background2);
	z-index: 10;
}

nav li {
	list-style: none;
}

.index {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 30vh 0 5rem;
}

.index img {
	height: 5rem;
}

.duck {
	display: flex;
	position: absolute;
	background-image: url(/assets/duck.png);
	background-size: cover;
	height: 5rem;
	width: 5rem;
	margin: 0 2rem;
	bottom: 5vh;
}

/* .index #duck:hover {
	--hovered: 1;
} */

.bubble_origin {
	display: flex;
	position: absolute;
	margin: 0 2rem;
	height: 5rem;
	bottom: 5vh;
}

.index .btn:hover {
	border: black 3px solid;
	background: hsl(195, 66%, 65%);
	outline: 1px solid black;
	outline-offset: -5px;
}

.index p {
	display: flex;
	position: relative;
	justify-content: flex-end;
}

.index a:link {
	text-decoration: none;
	color: var(--third_color);
}

.index a:visited {
	color: black;
}

.center_logo {
	display: flex;
	flex-direction: column;
	font-size: medium;
	font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
}

.bubbles2 {
	margin-bottom: .5rem;
	display: flex;
	position: absolute;
	height: 10px;
	width: 10px;
	inset: 5px;
	box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
	border-left: 2px solid rgba(0, 81, 255, 0.35);
	border-right: 2px solid rgba(255, 0, 93, 0.35);
	border-top: 2px solid hsla(54, 100%, 53%, 0.35);
	border-bottom: 2px solid hsla(0, 0%, 100%, 0.5);
	outline: .5px solid rgba(255, 255, 255, 1);
	z-index: -1;
	transform: translate(15px, 30px);
	border-radius: 50%;
	animation: bubbles .9s forwards linear;
	animation-delay: calc(0.5s * var(--i));
}

.bubbles {
	margin-bottom: 1rem;
	display: flex;
	position: absolute;
	height: 17px;
	width: 17px;
	inset: 10px;
	box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.2);
	border-left: 2px solid rgba(0, 81, 255, 0.5);
	border-right: 2px solid rgba(255, 0, 93, 0.5);
	border-top: 2px solid hsla(54, 100%, 53%, 0.5);
	border-bottom: 2px solid hsla(0, 0%, 100%, 0.5);
	outline: 1px solid rgba(255, 255, 255, 1);
	z-index: -1;
	rotate: 23deg;
	transform-origin: 500% 500%;
	transform: translate(0px, 50px);
	filter: blur(1px);
	border-radius: 50%;
	animation: bubbles 1s forwards linear;
	animation-delay: calc(.22s * var(--i));
}

.bubbles::before,
.bubbles2::before {
	content: "";
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.6);
	height: 2px;
	width: 2px;
	transform: translate(3px, 4px);
}

@keyframes bubbles {

	from {
		transform: translate(0px, 0px);
		opacity: 1;
		rotate: -4deg;
	}

	to {
		transform: translate(calc(5.2px * var(--i)), -250px);
		opacity: 0;
		rotate: 4deg;
	}
}

.projects .duck {
	animation: bobbing 4.5s infinite ease-in,
		swim1 7s 1s linear;

}

.pond {
	margin: 0;
	display: flex;
	position: absolute;
	width: 100%;
	height: clamp(2.2rem, 8vh, 5rem);
	bottom: 0;
	background: repeating-linear-gradient(0deg, 
				rgb(11, 1, 64), 
				rgba(4, 72, 103, 0.6), 
				rgba(27, 110, 174, 0.64), 
				rgba(4, 6, 99, 0.77), 
				rgba(8, 90, 183, 0.5));
	border-radius: 5%;
	filter: url("#pond");


}

svg{
position: absolute;
}

@keyframes bobbing {

	25% {
		transform: translateY(2px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(1px);
	}
}

@keyframes swim {

	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(80vw, 0);
	}
}

section {
	display: flex;
	position: relative;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	justify-content: center;
}

.projects {
	margin: 30vh auto 0;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.projects a:link,
.projects a:visited {
	color: var(--third_color);
}

.btn {
	border: var(--background2) 3px solid;
	background: var(--hover);
	font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	padding: 5% 20%;
	margin: 5rem auto 0;
	transition: .1s all;
	cursor: pointer;
}


.projects p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 5rem;
}

.websites {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto 5rem;
	transition: .15s ease;
}

.websites button {
	display: flex;
	position: relative;
	justify-content: space-evenly;
	justify-items: center;
	background-image: radial-gradient(rgb(255, 255, 255) 20%, black 30%, rgb(0, 0, 0) 47%, rgb(215, 215, 215) 52%, rgb(20, 20, 20) 56%, transparent 80%),
		repeating-conic-gradient(rgb(117, 116, 120) .5deg, rgb(255, 255, 255) .60deg);
	aspect-ratio: 1;
	width: 12%;
	border-radius: 50%;
	border: rgb(130, 130, 130) 2px solid;
}

.websites> :hover {
	outline: rgb(255, 255, 255) 2px dashed;
	outline-offset: 5px;
	--hovered: 1;
}

.websites button>a {
	display: flex;
	position: absolute;
	width: 55%;
	aspect-ratio: 1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.websites button>a:active {
	scale: .95;
	top: 50%;
	left: 50%;
	transform: translate(-52.6%, -52.6%);
}

.one {
	background: radial-gradient(ellipse, hsl(0, 53%, 65%) 5%, hsl(0, 86%, 29%) 50%, hsla(0, 86%, 33%, 0.65) 65%);
}

#one a:active {
	background: radial-gradient(hsl(0, 100%, 85%) 0%, hsla(0, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.two {
	background: radial-gradient(ellipse, hsl(39, 53%, 65%) 5%, hsl(39, 86%, 29%) 50%, hsla(39, 86%, 33%, 0.65) 65%);
}

#two a:active {
	background: radial-gradient(hsl(39, 100%, 85%) 0%, hsla(39, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.three {
	background: radial-gradient(ellipse, hsl(60, 53%, 65%) 5%, hsl(60, 86%, 29%) 50%, hsla(60, 86%, 33%, 0.65) 65%);
}

#three a:active {
	background: radial-gradient(hsl(60, 100%, 85%) 0%, hsla(60, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.four {
	background: radial-gradient(ellipse, hsl(120, 53%, 65%) 5%, hsl(120, 86%, 29%) 50%, hsla(120, 86%, 33%, 0.65) 65%);
}

#four a:active {
	background: radial-gradient(hsl(120, 100%, 85%) 0%, hsla(120, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.five {
	background: radial-gradient(ellipse, hsl(240, 53%, 65%) 5%, hsl(240, 86%, 29%) 50%, hsla(240, 86%, 33%, 0.65) 65%);
}

#five a:active {
	background: radial-gradient(hsl(240, 100%, 85%) 0%, hsla(240, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.six {
	background: radial-gradient(ellipse, hsl(275, 53%, 65%) 5%, hsl(275, 86%, 29%) 50%, hsla(275, 86%, 33%, 0.65) 65%);
}

#six a:active {
	background: radial-gradient(hsl(275, 100%, 85%) 0%, hsla(275, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.seven {
	background: radial-gradient(ellipse, hsl(300, 53%, 65%) 5%, hsl(300, 86%, 29%) 50%, hsla(300, 86%, 33%, 0.65) 65%);
}

#seven a:active {
	background: radial-gradient(hsl(300, 100%, 85%) 0%, hsla(300, 100%, 61%, 0.75) 55%, rgba(0, 0, 0, 0.75) 85%);
}

.star {
	display: flex;
	position: relative;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background: repeating-linear-gradient(rgb(96, 6, 87), rgb(234, 83, 136), rgb(96, 6, 87));
	height: 100px;
	width: 100px;
	margin: auto;
}

.star_blink {
	animation: star 2s linear infinite;
}

@keyframes star {

	from {
		opacity: 1;
		/* transform: rotate3d(0, 0, 0, 0deg); */
		rotate: 0deg;
		;

	}

	to {
		opacity: 0.5;
		/* transform: rotate3d(1, 1, 1, 360deg); */
		rotate: 360deg;
	}

}

.song {
	margin: 0 5%;
	font-family: Arial, Helvetica, sans-serif;
	color: aliceblue;
	font-weight: 100;
}

.calendar {
	width: 90%;
	margin: auto;
	height: auto;
	background-color: rgba(122, 238, 86, 0.229);
}

.week {
	display: flex;
	border: 2px solid black;
	height: 10vh;
}

.day_wrapper {
	display: flex;
}

.dayname {
	border: 2px black solid;
	height: 5vh;
	width: 14.3%;
}

.dayname::before {
	content: attr(dayname);
	display: flex;
	font-size: large;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.day {
	border: 1px black solid;
	height: 10vh;
	width: 14.3%;
}

.day::before {
	content: attr(day);
	display: flex;
	height: 20px;
	width: 20px;
	border: black 1px solid;
}

.day::after {
	content: attr(weekend);
	display: flex;
	transform: translate(60%, 30%);
	font-size: clamp(1rem, .5vw, 2rem)
}

.trip {
	display: flex;
	flex-direction: column;
	font-family: "Mulish", sans-serif;
	margin: 5rem;
	line-height: 1.5;
	font-size: 16px;
}

.trip_box {
	display: flex;
	margin: 6rem 0;
	z-index: 1;
}

.trip_box p {
	padding: 0 1rem;
	align-items: center;
	margin: auto 0;
}

.trip_box a:link {
	font-weight: 400;
	text-decoration: none;
	color: var(--primary_link);
}

.trip_box a:visited {
	color: aqua;
}

.trip_box button {
	background-color: transparent;
	color: var(--primary_link);
	border: none;
	font-size: 16px;
	position: relative;
	bottom: -1px;
	cursor: pointer;
	z-index: 0;
}

.video {
	position: fixed;
	float: clear;
	max-height: 550px;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	transition: .3s all;
	z-index: 1;
}

.inset_shadow {
	border-radius: 30px;
	border: 1px solid var(--inset_border);
	margin: 0 15px;
	display: flex;
	position: relative;
	margin: 0 -15px;
	padding: 0;
	box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.85),
		0px 8px 25px 10px rgba(27, 1, 1, 0.65) inset,
		0px -8px 20px 10px rgba(27, 1, 1, 0.65) inset;
	background-size: cover;
	background-position: center;
}


.imgBlock {
	display: flex;
	justify-content: space-between;
	width: 50%;
	float: right;
	margin-left: 25%;
	margin-right: -12%;
}

.trip a:active {
	transform: translateY(4px);
	box-shadow: -4px -4px 5px rgba(0, 0, 0, 0.5),
		0px -8px 10px 5px rgba(27, 1, 1, 0.65) inset,
		0px 8px 25px 5px rgba(27, 1, 1, 0.65) inset;
}

.outline_shadow {
	filter: drop-shadow(12px 12px 2px black);
}

.pic_outline {
	display: flex;
	position: absolute;
	clip-path: polygon(0 39%, 0 0, 100% 0, 100% 100%, 60% 100%, 60% 94%, 94% 94%, 94% 7%, 7% 7%, 7% 39%);
	background-color: antiquewhite;
	height: 25rem;
	width: 25rem;
}

.pic1 {
	background-image: url(/assets/aimMez.jpg);
	height: 20rem;
	aspect-ratio: 1;
	float: left;
	margin-right: 20px;
}

.pic2 {
	background-image: url(/assets/lum.jpg);
	height: 15rem;
	max-width: 400px;
	margin-top: -5rem;
	rotate: 12deg;
	aspect-ratio: 3/2;
}

.pic2a {
	background-image: url(/assets/game.jpg);
	background-position: left;
	height: 15rem;
	max-width: 340px;
	min-width: 262px;
	width: 60%;
	margin-top: 6rem;
	right: 30rem;
	rotate: -5deg;
	aspect-ratio: 1;
}

.pic3_box {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.pic3 {
	display: flex;
	background-image: url(/assets/uno.png);
	background-size: cover;
	height: 400%;
	width: 50%;
	margin-right: 5rem;
	float: left;
}

.img3_box {

	display: flex;
	margin: 6rem 0rem;
	width: 100%;
	justify-content: space-between;
	clear: both;
	;
}

.pic3a {
	background-image: url(/assets/KanekoStudySpace.jpg);
	max-width: 200px;
	height: 11rem;
	rotate: -3deg;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 117/89;
}

.pic3b {
	background-image: url(/assets/cpl.jpg);
	max-width: 200px;
	height: 11rem;
	rotate: 3deg;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 117/89;
}

.pic3c {
	background-image: url(/assets/organ.jpg);
	max-width: 200px;
	height: 11rem;
	rotate: -4deg;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 3/2;
}

.pic4 {
	background-image: url(/assets/geokey.jpg);
	height: 15rem;
	max-width: 340px;
	width: 60%;
	margin-top: -3rem;
	rotate: -5deg;
	float: right;
}