@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Open+Sans&family=Oswald:wght@600&display=swap');

:root {
	--primary_link: rgb(0, 133, 177);
	--secondary_color: rgb(199, 168, 112);
	--third_color: whitesmoke;
	--hover: rgb(0, 181, 239);
	--background1: rgb(141, 91, 53);
	--background2: rgb(80, 26, 4);
	--inset_border: rgb(41, 6, 6);
}

html {
	scroll-behavior: smooth;
	height: 100vh;
}


body {
	background-image: linear-gradient(43deg, var(--background1) 0%,
			var(--background2) 40%);
	color: var(--third_color);
}

* {
	margin: 0;
	padding: 0;
}

nav {
	text-transform: uppercase;
}

nav a {
	border-bottom: transparent solid 2px;
	border-top: transparent solid 2px;
	transition: .3s all;
}

nav a:link {
	text-decoration: none;
	color: gold;
}

nav a:visited {
	color: var(--secondary_color);
}

nav a:hover {
	color: var(--third_color);
	padding: 5px 0;
	border-bottom: var(--hover) solid 2px;
	border-top: var(--hover) solid 2px;
}

nav a:active {
	color: var(--hover);
}

ul {
	display: flex;
	position: fixed;
	justify-content: space-around;
	border-bottom: var(--background1) 1px solid;
	padding: 2rem 0;
	background: rgba(0, 0, 0);
	top: 0;
	width: 100%;
	box-shadow: 0px 5px 0px 7px var(--background2);
	z-index: 10;
}

nav li {
	list-style: none;
}

.index {
	display: flex;
	padding: 0%;
	position: relative;
	justify-content: center;
	margin-top: 15rem;
}

.index img {
	height: 5rem;
}

.index p {
	display: flex;
	position: relative;
	justify-content: flex-end;
}

.index a:link {
	text-decoration: none;
	color: var(--third_color);
}

.index a:visited {
	color: black;
}

.center {
	display: flex;
	flex-direction: column;
	font-size: medium;
	font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
}

#duck {
display: flex;
position: relative;
right: 70%;
}

/* section {
	display: flex;
	padding: 0%;
	position: relative;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	justify-content: center;
	margin-top: 15%;
} */

.projects {
	display: flex;
	justify-content: center;
	margin: 25vh 2rem 5vh;
}

.projects a:link,
.projects a:visited {
	color: var(--third_color);
}

.btn {
	padding: 10px;
	background: var(--hover);
	margin: 7rem auto 0;
	width: 70%;
	font-family: "Oswald", Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	transition: .3s all;
}

.btn:hover {
	border: black 2px solid;
	background: var(--third_color)
}

.websites {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
}



.proj_art {
	margin-top: 2rem;
	display: flex;
	justify-content: space-evenly;
}

.proj_art p {
	display: flex;
	justify-content: center;
	width: 25%;
}

.site {
	display: flex;
	margin: 10px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid black;
background-image: radial-gradient(#ffffff 0%, rgba(255, 255, 255, 0.75) 20%, transparent 55%, rgba(0, 0, 0, 0.5) 65%);
}

.websites button{
background: radial-gradient( rgb(171, 170, 170) 40%, rgb(0, 0, 0) 70%, rgba(255, 255, 255, 0.65) 75%);
margin: 0 5px;
border-radius: 50%;
border: none;
}

.websites > :hover {
	--hovered: 1;
}

.one {

	background-color: red;
}

.two {
	background-color: orange;
}

.three {
	background-color: yellow;
}

.four {
	background-color: green;
}

.five {
	background-color: blue;
}

.six {
	background-color: indigo;
}

.seven {
	background-color: violet;
}

.star {
	display: flex;
	position: relative;
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	background: repeating-linear-gradient(rgb(96, 6, 87), rgb(234, 83, 136), rgb(96, 6, 87));
	height: 100px;
	width: 100px;
	margin: auto;
}

.star_blink {
	animation: star 2s linear infinite;
}

@keyframes star {

	from {
		opacity: 1;
		/* transform: rotate3d(0, 0, 0, 0deg); */
		rotate: 0deg;
		;

	}

	to {
		opacity: 0.5;
		/* transform: rotate3d(1, 1, 1, 360deg); */
		rotate: 360deg;
	}

}

.song {
	margin: 0 5%;
	font-family: Arial, Helvetica, sans-serif;
	color: aliceblue;
	font-weight: 100;
}

.calendar {
	width: 90%;
	margin: auto;
	height: auto;
	background-color: rgba(122, 238, 86, 0.229);
}

.week {
	display: flex;
	border: 2px solid black;
	height: 10vh;
}

.day_wrapper {
	display: flex;
}

.dayname {
	border: 2px black solid;
	height: 5vh;
	width: 14.3%;
}

.dayname::before {
	content: attr(dayname);
	display: flex;
	font-size: large;
	height: 100%;
	align-items: center;
	justify-content: center;
}

.day {
	border: 1px black solid;
	height: 10vh;
	width: 14.3%;
}

.day::before {
	content: attr(day);
	display: flex;
	height: 20px;
	width: 20px;
	border: black 1px solid;
}

.day::after {
	content: attr(weekend);
	display: flex;
	transform: translate(60%, 30%);
	font-size: clamp(1rem, .5vw, 2rem)
}

.trip_box {
	display: flex;
	flex-direction: column;
	font-family: "Mulish", sans-serif;
	margin: 5rem;
	line-height: 1.5;
	font-size: 16px;
}

.trip {
	margin: 6rem 0 2rem;
	z-index: 1;
}

.trip p {
	padding: 0 1rem;
}

.trip a:link {
	font-weight: 400;
	text-decoration: none;
	color: var(--primary_link);
}

.trip a:visited {
	color: aqua;
}

.trip button {
	background-color: transparent;
	color: var(--primary_link);
	border: none;
	font-size: 16px;
	position: relative;
	bottom: -1px;
	cursor: pointer;
	z-index: 0;
}

.video {
	position: fixed;
	float: clear;
	max-height: 550px;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -200%);
	transition: .3s all;
	z-index: 1;
}

.inset_shadow {
	border-radius: 30px;
	border: 1px solid var(--inset_border);
	margin: 0 15px;
	display: flex;
	position: relative;
	margin: 0 -15px;
	padding: 0;
	box-shadow:
		8px 8px 5px rgba(0, 0, 0, 0.85),
		0px 8px 25px 10px rgba(27, 1, 1, 0.65) inset,
		0px -8px 20px 10px rgba(27, 1, 1, 0.65) inset;
	background-size: cover;
	background-position: center;
}


.imgBlock {
	display: flex;
	justify-content: space-between;
	width: 50%;
	float: right;
	margin-left: 25%;
	margin-right: -12%;
}

.textBlock {
	display: flex;
	margin-top: 10%;
}

.trip a:active {
	transform: translateY(4px);
	box-shadow:
		-4px -4px 5px rgba(0, 0, 0, 0.5),
		0px -8px 10px 5px rgba(27, 1, 1, 0.65) inset,
		0px 8px 25px 5px rgba(27, 1, 1, 0.65) inset;
}

.pic1 {
	background-image: url(/assets/aimMez.jpg);
	height: 20rem;
	aspect-ratio: 1;
	float: left;
	margin-right: 20px;
}

.pic2 {
	background-image: url(/assets/lum.jpg);
	height: 15rem;
	max-width: 400px;
	margin-top: -5rem;
	rotate: 12deg;
	aspect-ratio: 3/2;
}

.pic2a {
	background-image: url(/assets/game.jpg);
	background-position: left;
	height: 15rem;
	max-width: 340px;
	min-width: 262px;
	width: 60%;
	margin-top: 6rem;
	right: 30rem;
	rotate: -5deg;
	aspect-ratio: 1;
}

.flex_col {
	display: flex;
	flex-direction: column;
}

.pic3 {

	background-image: url(/assets/uno.png);
	height: 15rem;
	max-width: 340px;
	width: 60%;
	margin-right: 5rem;
	float: left;
}

.img3_box {
	display: flex;
	margin: 6rem 0rem;
	width: 100%;
	justify-content: space-between;
	float: clear;
}

.pic3a {
	background-image: url(/assets/KanekoStudySpace.jpg);
	max-width: 200px;
	height: 11rem;
	rotate: -3deg;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 117/89;
}

.pic3b {
	background-image: url(/assets/cpl.jpg);
	max-width: 200px;
	height: 11rem;
	rotate: 3deg;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 117/89;
}

.pic3c {
	background-image: url(/assets/organ.jpg);
	max-width: 200px;
	height: 11rem;
	rotate: -4deg;
	background-size: cover;
	background-repeat: no-repeat;
	aspect-ratio: 3/2;
}

.pic4 {
	background-image: url(/assets/geokey.jpg);
	height: 15rem;
	max-width: 340px;
	width: 60%;
	margin-top: -3rem;
	rotate: -5deg;
	float: right;
}